<% layout('layouts/boilerplate') %>
    <h1>Edit Product</h1>
    <form action="/products/<%= product._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="product[title]" value="<%= product.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="product[location]" value="<%= product.location %>">
        </div>
        <button>Update Product</button>
    </form>
    <a href="/products/<%= product._id %>">Back to Products</a>