<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>

<body>
    <form action="/products" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="product[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="product[location]">
        </div>
        <button>Add Product</button>
    </form>
    <a href="/products">All Products</a>
</body>

</html>